<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    
    <!-- ACA TENES QUE CONFIGURAR SERVIDOR, PUERTO, USUARIO Y CONTRASEÑA. EL RESTO 
     QUEDA INTACTO -->
    
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/golosolventas</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    
    <!--property name="hibernate.connection.url">jdbc:mysql://SERVER:3306/golosolventas</property>
    <property name="hibernate.connection.username">rober</property>
    <property name="hibernate.connection.password">root</property-->
    
    <!-- Enable Hibernate's automatic session context management -->
    <property name="current_session_context_class">thread</property>
    <!-- Disable the second-level cache -->
    <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
    <!-- Echo all executed SQL to stdout -->
    <property name="show_sql">true</property>
    <property name="hibernate.use_sql_comments">true</property>
    <property name="hibernate.format_sql">true</property>
    <!--<property name="hibernate.session_factory_name">HibernateUtils</property>-->
    
    <!--
        So the list of possible options are,

            validate: validate the schema, makes no changes to the database.
            update: update the schema.
            create: creates the schema, destroying previous data.
            create-drop: drop the schema at the end of the session.
        -->
    <property name="hibernate.hbm2ddl.auto">update</property>
    
    <!-- CADA ENTITIE QUE SE SUME SE TIENE QUE AGREGAR SU MAPEO -->
    
    <mapping resource="ar/com/gmeventas/entities/Cliente.hbm.xml"/>
    <mapping resource="ar/com/gmeventas/entities/Domicilio.hbm.xml"/>
    <mapping resource="ar/com/gmeventas/entities/Rubro.hbm.xml"/>
    <mapping resource="ar/com/gmeventas/entities/SubRubro.hbm.xml"/>
    <mapping resource="ar/com/gmeventas/entities/Pedido.hbm.xml"/>
    <mapping resource="ar/com/gmeventas/entities/RenglonPedido.hbm.xml"/>
    <mapping resource="ar/com/gmeventas/entities/Proveedor.hbm.xml"/>
    <mapping resource="ar/com/gmeventas/entities/Producto.hbm.xml"/>
    <mapping resource="ar/com/gmeventas/entities/CodigoBarras.hbm.xml"/>
    <mapping resource="ar/com/gmeventas/entities/IvaVentas.hbm.xml"/>
    <mapping resource="ar/com/gmeventas/entities/IvaCompras.hbm.xml"/>
    <mapping resource="ar/com/gmeventas/entities/RenglonFactura.hbm.xml"/>
    <mapping resource="ar/com/gmeventas/entities/RenglonNotaCredito.hbm.xml"/>
    <mapping resource="ar/com/gmeventas/entities/Configuracion.hbm.xml"/>
    <mapping resource="ar/com/gmeventas/entities/CuentaCorriente.hbm.xml"/>
    <mapping resource="ar/com/gmeventas/entities/TipoDoc.hbm.xml"/>
    <mapping resource="ar/com/gmeventas/entities/FcReserved.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
